*py[co]
__pycache__/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
.python-version

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Vim
.*.sw[op]

test/korail_idpw.txt
.idea

.DS_Store
*.apk

.env
